table
{
    margin-left:100px;
    margin-top:70px;
    margin-bottom:10px;
    padding: 10px 15px;

}

table, th, td
{
    /*border: 1px solid #333;*/
    padding: 10px;
    width:1000px;
}
.tdDate
{
    text-align:end;
}
th
{
    color:white;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:3px;
    background-color:#21618C;
    border-radius: 30px;
    opacity: 0.9;
}
.tdText
{
    text-align: justify;
    font-family: sans-serif;
}

/* Table body attestation*/
.BodyTableAttest, .BodyCertificat
{
    /*border: 1px solid #1C2833;
    border-radius: 10px;
    border-style: dotted;*/
}

